<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>SongForYou</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        if(localStorage.getItem('popState') != 'shown'){
            $("#banner").delay(2000).fadeIn();
            localStorage.setItem('popState','shown')
        }
    });

        function end(){
            $("#banner").fadeOut();
        };
        function loading(){
            $("#loading").show();
            $("#content").hide();
        };
    </script>
</head>


<html>

<div id="loading"></div>

<div id="content">

<div>
    <div class="center">
        <img src="/static/images/art.png" alt="Logo" width="40%" height="10%">
    </div>
</div>

<br>

<div class="message">
    <h2 class="message"> {{ message }}</h2>
</div>

<div class="center">
    <h2>
        Enter your 5 favorite songs, wait 5 seconds, and we'll find you the perfectly calibrated song to add to your playlist!
    </h2>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method="post">
<div class="search">
    <div>
        {{ render_field(form.search) }}
    </div>
    <div>
        <button type="submit"> Search </button>
    </div>
</div>
</form>

<h3 style="text-align: center"> Note: Only songs released between 1920-2020</h3>

<div class="favorites">
    <div class="{{ colors[0] }}">
        <h3> {{ choices[0] }}</h3>
    </div>
    <div class="{{ colors[1] }}">
        <h3> {{ choices[1] }}</h3>
    </div>
    <div class="{{ colors[2] }}">
        <h3> {{ choices[2] }}</h3>
    </div>
    <div class="{{ colors[3] }}">
        <h3> {{ choices[3] }}</h3>
    </div>
    <div class="{{ colors[4] }}">
        <h3> {{ choices[4] }} </h3>
    </div>
</div>

<br>

<form action="/clear/none">
    <div class="center">
        <button type="submit">Clear Selection</button>
    </div>
</form>

<br>
<br>

<form action="/calculate">
    <div class="center">
        <button type="submit" class="big" onclick="loading();">Find My Song</button>
    </div>
</form>

<br>
<br>

</div>

<div id="banner" class="cookie-banner" style="display:none">
    <p>
    By using our website, you agree to our
    <a href="/policy">cookie policy</a>
    </p>
    <button onclick="end();">&times;</button>
</div>

<br>
<br>



</html>